.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Затемнение фона */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Чтобы была выше всего */
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

.content {
  background: var(--color-surface);
  padding: 32px;
  border-radius: 24px;
  position: relative;
  max-width: 500px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  transform: scale(0.9);
  animation: scaleUp 0.2s forwards;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes scaleUp {
  to { transform: scale(1); }
}